<div class="login-body">
  <div class="login-image">
    <img [src]="'assets/layout/images/pages/login/login1.jpeg'" alt="atlantis">
  </div>
  <div class="login-panel p-fluid">
    <div class="flex flex-column">
      <div style="margin-block-end: 1.5rem;">
        <h4>
          PORTAL ACADÉMICO
        </h4>
      </div>

      <router-outlet></router-outlet>

      <div class="flex justify-content-center mt-8">
        <img width="300px" src="assets/layout/images/LOGOSAETA.png">
      </div>

      <div class="flex justify-content-center mt-4">
        <span>Copyright <b>TECBA</b></span>
      </div>

    </div>
  </div>
</div>
