.calendario-card{
    background: var(--primary-color);
    color: white;
    font-size: 1.6rem;
}
.calendar-bottom{
    background-color: #44486d;
}
.calendar-bottom p{
    color: white;
    padding-block: 1rem;
}
