<div class="grid">
    <div class="col">
        <div class="card flex justify-content-center align-items-center calendario-card">
            <span>CALENDARIO ACADEMICO</span>
        </div>
    </div>
</div>

<div class="grid">
    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <div class="card box calendar-item">
            <div style="height: 30rem;">
                <iframe src="./assets/images/Enero-2021.pdf" height="100%" width="100%"></iframe>
            </div>
            <div class="grid">
                <div class="col card flex justify-content-center calendar-bottom">
                    <p>ANUAL</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <div class="card box calendar-item">
            <div style="height: 30rem;">
                <iframe src="./assets/images/Enero-2021.pdf" height="100%" width="100%"></iframe>
            </div>
            <div class="grid">
                <div class="col card flex justify-content-center calendar-bottom">
                    <p>SEMESTRAL</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <div class="card box calendar-item">
            <div style="height: 30rem;">
                <iframe src="./assets/images/Enero-2021.pdf" height="100%" width="100%"></iframe>
            </div>
            <div class="grid">
                <div class="col card flex justify-content-center calendar-bottom">
                    <p>MODULAR</p>
                </div>
            </div>
        </div>
    </div>
</div>
