<div class="grid">
    <div class="col">
        <div class="card flex justify-content-center align-items-center programacion-card">
            <span>PROGRAMACIÓN ESTUDIANTIL</span>
        </div>
    </div>
</div>

<div class="grid">
    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4" *ngFor="let item of programaciones">
        <div class="card">
            <div class="card-title card">
                <p>{{ item.name_subject }}</p>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Código</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.cod_subject }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Curso</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.course_subject }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Turno</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.path_programation }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Inicio</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.start_subjectassign }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Fin</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.end_subjectassign }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Modalidad</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.modality_subjectassign }}</p>
                </div>
            </div>

            <!-- <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Docente</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.name_teacher }} {{ item.first_teacher }} {{ item.second_teacher }}</p>
                </div>
            </div> -->



            <div class="grid mt-5">
                <div class="col flex justify-content-center">

                    <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Ver más.."></p-button>
                    <p-dialog header="Seguimiento de materia" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
                        [resizable]="false">

                        <div class="grid">
                            <div class="col-12 lg:col-3"><b>Materia:</b> {{item.name_subject}}</div>
                            <div class="col-12 lg:col-3"><b>Sigla:</b> {{item.cod_subject}}</div>
                            <div class="col-12 lg:col-3"><b>Docente:</b> {{ item.name_teacher }} {{ item.first_teacher }} {{ item.second_teacher }}</div>
                            <div class="col-12 lg:col-3"><b>Whatsapp:</b> <a href="">  Acceder</a>
                            </div>
                        </div>

                        <div class="grid mt-3">
                            <div class="col-12"><b>Fechas de parciales</b></div>
                        </div>

                        <div class="grid">
                            <div class="col-12 lg:col-4">Fecha 1</div>
                            <div class="col-12 lg:col-4">Fecha 2</div>
                            <div class="col-12 lg:col-4">Fecha 3</div>
                        </div>

                        <div class="grid mt-3">
                            <div class="col-12"><b>Seguimiento de prácticas</b></div>
                        </div>

                        <p>No es factible para el modo responsivo poner aca las practicas,
                            DEMASIADA INFORMACION
                        </p>

                        <ng-template pTemplate="footer">
                            <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
                        </ng-template>
                    </p-dialog>

                </div>

            </div>

        </div>
    </div>
</div>


