<div class="grid">
    <div class="col">
        <div class="card flex justify-content-center align-items-center programacion-card">
            <span>PROGRAMACIÓN ESTUDIANTIL</span>
        </div>
    </div>
</div>

<div class="grid">
    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4" *ngFor="let item of programaciones">
        <div class="card">
            <div class="card-title card">
                <p>{{ item.name_subject }}</p>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Código</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.cod_subject }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Curso</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.course_subject }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Turno</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.path_programation }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Inicio</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.start_subjectassign }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Fin</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.end_subjectassign }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Modalidad</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.modality_subjectassign }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Docente</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.name_teacher }} {{ item.first_teacher }} {{ item.second_teacher }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Grupo Whatsapp</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="#" target="_blank">
                            Ir al grupo
                        </a>
                    </p>
                </div>
            </div>

            <!-- <div class="grid">
                <div class="col flex justify-content-center">
                    <p-messages severity="info" style="width: 70%;">
                        <ng-template pTemplate>
                            <div class="grid">
                                <div class="col flex justify-content-end">
                                    <p class="programacion-title">
                                        Tercer Parcial:
                                        <a href="">
                                            2021-10-11 | 17:00
                                        </a>

                                    </p>
                                </div>
                            </div>
                        </ng-template>
                    </p-messages>
                </div>

            </div> -->

        </div>
    </div>
</div>


