<div class="grid">
    <div class="col">
        <div class="card flex justify-content-center align-items-center libreta-card">
            <span>Libreta Estudiantil</span>
        </div>
    </div>
</div>

<div class="grid flex justify-content-center">
    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4" *ngFor="let item of libreta">
        <div class="card" [ngStyle]="{'background': getColor(item.status_programation)}" style="box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.25);">
            <div class="card-title card">
                <p>{{ item.name_subject }}</p>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Sigla</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.cod_subject }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Curso</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.course_subject }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Requisito</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.requirement_subject }}</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Estado</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>{{ item.start_subjectassign }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table [value]="libreta" [scrollable]="true" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr class="tr-header">
                        <th>Materia</th>
                        <th class="flex justify-content-center">Sigla</th>
                        <th class="flex justify-content-center">Curso</th>
                        <th class="flex justify-content-center">Requisito</th>
                        <th class="flex justify-content-center">Estado</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr [ngStyle]="{'background': getColor(item.status_programation)}">
                        <td [width]="700"
                            [ngStyle]="{'font-weight': 'bold'}">
                            {{item.name_subject}}
                        </td>
                        <td class="flex justify-content-center">{{item.cod_subject}}</td>
                        <td class="flex justify-content-center">
                            {{item.course_subject}}
                        </td>
                        <td class="flex justify-content-center">{{item.requirement_subject}}</td>
                        <td class="flex justify-content-center"
                            [ngStyle]="{'font-weight': 'bold'}">
                            {{item.status_programation}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div> -->
