<div class="grid">
  <div class="col">
    <div class="card flex justify-content-center align-items-center anuncios-card">
      <span>SYLLABUS POR ASIGNATURA</span>
    </div>
  </div>
</div>

<div class="grid p-fluid">
  <h4 class="ml-8 mt-4">Detalle de asignaturas:</h4>
  <div class="flex justify-content-center sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="mt-7">
      <button class="mt-3" type="submit" pButton label="BASE DE DATOS I">
      </button>
      <button class="mt-3" type="submit" pButton label="BASE DE DATOS II">
      </button>
      <button class="mt-3" type="submit" pButton label="PROGRAMACION MULTIMEDIA">
      </button>
      <button class="mt-3" type="submit" pButton label="REDES DE COMPUTADORAS">
      </button>
      <button class="mt-3" type="submit" pButton label="MATEMATICA I">
      </button>
    </div>
  </div>
</div>