<div class="grid">
  <div class="col">
    <div class="card flex justify-content-center align-items-center anuncios-card">
      <span>SYLLABUS DE ASIGNATURA - MAT-100</span>
    </div>
  </div>
</div>

<div class="ml-8 mt-4">
  <h4>Formularios de SYLLABUS</h4>
  <h6>Seleccione cada uno de los componentes a completar, recuerde guardar su avance en cada formulario.</h6>
</div>

<div class="grid mt-4">
  <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
    <div style="background: white;">
      <p-card>
        <div class="text-center">
          <p-avatar label="A-1" class="mr-3" size="large" shape="circle"></p-avatar>
        </div>
        <h5 class="text-center">Datos generales de la Asignatura</h5>
        <div class="text-center">
          <p-tag styleClass="p-mr-2" severity="info" value="Estado"></p-tag>
        </div>
        <ng-template pTemplate="footer">
          <center>
            <button class="mr-3 p-button-help" type="submit" pButton label="Editar">
            </button>
            <button class="p-button-help" type="submit" pButton label="Imprimir">
            </button>
          </center>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
    <div style="background: white;">
      <p-card>
        <div class="text-center">
          <p-avatar label="A-2" class="mr-3" size="large" shape="circle"></p-avatar>
        </div>
        <h5 class="text-center">Contenidos de Asignatura</h5>
        <div class="text-center">
          <p-tag styleClass="p-mr-2" severity="info" value="Estado"></p-tag>
        </div>
        <ng-template pTemplate="footer">
          <center>
            <button class="mr-3 p-button-help" type="submit" pButton label="Editar">
            </button>
            <button class="p-button-help" type="submit" pButton label="Imprimir">
            </button>
          </center>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
    <div style="background: white;">
      <p-card>
        <div class="text-center">
          <p-avatar label="B-1" class="mr-3" size="large" shape="circle"></p-avatar>
        </div>
        <h5 class="text-center">Competencias de Asignatura</h5>
        <div class="text-center">
          <p-tag styleClass="p-mr-2" severity="info" value="Estado"></p-tag>
        </div>
        <ng-template pTemplate="footer">
          <center>
            <button class="mr-3 p-button-help" type="submit" pButton label="Editar">
            </button>
            <button class="p-button-help" type="submit" pButton label="Imprimir">
            </button>
          </center>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
    <div style="background: white;">
      <p-card>
        <div class="text-center">
          <p-avatar label="B-2" class="mr-3" size="large" shape="circle"></p-avatar>
        </div>
        <h5 class="text-center">Metodologías y herramientas</h5>
        <div class="text-center">
          <p-tag styleClass="p-mr-2" severity="info" value="Estado"></p-tag>
        </div>
        <ng-template pTemplate="footer">
          <center>
            <button class="mr-3 p-button-help" type="submit" pButton label="Editar">
            </button>
            <button class="p-button-help" type="submit" pButton label="Imprimir">
            </button>
          </center>
        </ng-template>
      </p-card>
    </div>
  </div>

  <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
    <div style="background: white;">
      <p-card>
        <div class="text-center">
          <p-avatar label="C" class="mr-3" size="large" shape="circle"></p-avatar>
        </div>
        <h5 class="text-center">Planteamiento de LICYT</h5>
        <div class="text-center">
          <p-tag styleClass="p-mr-2" severity="info" value="Estado"></p-tag>
        </div>
        <ng-template pTemplate="footer">
          <center>
            <button class="mr-3 p-button-help" type="submit" pButton label="Editar">
            </button>
            <button class="p-button-help" type="submit" pButton label="Imprimir">
            </button>
          </center>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>