<div class="grid">
    <div class="col">
        <div class="card flex justify-content-center align-items-center recursos-card">
            <span>RECURSOS ESTUDIANTILES</span>
        </div>
    </div>
</div>

<div class="grid">
    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <a href="https://drive.google.com/drive/folders/18j2BRLGKYlV5lVCQeOa3-J2kPGnQfHR3" target="_blank">
            <div class="card box flex justify-content-center align-items-center">
                <div>
                    <div class="flex justify-content-center">
                        <i class="pi pi-images mt-5" style="font-size: 4rem"></i>
                    </div>
                    <p class="mt-5">Logos</p>
                </div>
            </div>
        </a>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <a href="https://drive.google.com/drive/folders/11zr4ZkNqmMQ9fb8gdRG9_mkjtm8ZmTSC" target="_blank">
            <div class="card box flex justify-content-center align-items-center">
                <div>
                    <div class="flex justify-content-center">
                        <i class="pi pi-file-pdf mt-5" style="font-size: 4rem"></i>
                    </div>
                    <p class="mt-5">Normativa</p>
                </div>
            </div>
        </a>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <a href="https://drive.google.com/drive/folders/19sL6OV8M-zYiXZmvUjVI2kUWBGdbdyis" target="_blank">
            <div class="card box flex justify-content-center align-items-center">
                <div>
                    <div class="flex justify-content-center">
                        <i class="pi pi-file mt-5" style="font-size: 4rem"></i>
                    </div>
                    <p class="mt-5">Carátula Tecba</p>
                </div>
            </div>
        </a>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <a href="https://drive.google.com/drive/folders/1OePFH8f6Y85L_MGQ-pHt-xgepxAOZV9C" target="_blank">
            <div class="card box flex justify-content-center align-items-center">
                <div>
                    <div class="flex justify-content-center">
                        <i class="pi pi-envelope mt-5" style="font-size: 4rem"></i>
                    </div>
                    <p class="mt-5">Modelo de Carta</p>
                </div>
            </div>
        </a>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <a href="https://drive.google.com/drive/folders/1_mS6ecwsW5i1HQoEwMJL8X0M2sG07dxn" target="_blank">
            <div class="card box flex justify-content-center align-items-center">
                <div>
                    <div class="flex justify-content-center">
                        <i class="pi pi-file mt-5" style="font-size: 4rem"></i>
                    </div>
                    <p class="mt-5">Modelo de LICYT</p>
                </div>
            </div>
        </a>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <a href="https://drive.google.com/drive/folders/1lIbTJZLinOasoy4SedzklxHFCH6dfkCc" target="_blank">
            <div class="card box flex justify-content-center align-items-center">
                <div>
                    <div class="flex justify-content-center">
                        <i class="pi pi-book mt-5" style="font-size: 4rem"></i>
                    </div>
                    <p class="mt-5">Modelo de Perfil de Grado</p>
                </div>
            </div>
        </a>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <a href="https://drive.google.com/file/d/1ihFx6tUCoNwhIiqJA4013ZpcBLeB3MbU/view" target="_blank">
            <div class="card box flex justify-content-center align-items-center">
                <div>
                    <div class="flex justify-content-center">
                        <i class="pi pi-chart-bar mt-5" style="font-size: 4rem"></i>
                    </div>
                    <p class="mt-5">Detalle de evaluación</p>
                </div>
            </div>
        </a>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <a href="https://drive.google.com/file/d/1ORYks7UtM33tIt6SL2hRlDFargAQxk0H/view" target="_blank">
            <div class="card box flex justify-content-center align-items-center">
                <div>
                    <div class="flex justify-content-center">
                        <i class="pi pi-folder mt-5" style="font-size: 4rem"></i>
                    </div>
                    <p class="mt-5">Guía estudiantil 2021</p>
                </div>
            </div>
        </a>
    </div>



</div>
