<div class="grid">
    <div class="col">
        <div class="card flex justify-content-center align-items-center kardex-card">
            <span>Kardex Estudiantil</span>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card" style="overflow-x:auto;">
            <table>
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Sigla</th>
                        <th>Curso</th>
                        <th>Estado</th>
                        <th>Nota</th>
                        <th>Gestión</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of kardex">
                        <td style="text-align: start;">{{item.name_subject}}</td>
                        <td>{{item.cod_subject}}</td>
                        <td>{{item.course_subject}}</td>
                        <td [ngStyle]="{'color': getColor(item.status_kinterno), 'font-weight': '400'}">
                            {{item.status_kinterno}}
                        </td>
                        <td style="font-weight: bold;">{{item.score_kinterno}}</td>
                        <td>{{item.year_kinterno}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>