.kardex-card{
    background: var(--primary-color);
    color: white;
    font-size: 1.6rem;
}
th{
    font-size: 1.1rem;
}
.tr-header{
    background-color: #464646;
}
.tr-header th{
    color: white;
}

table
{
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  border: 1px solid rgba(68, 72, 109, 0.4);
}
th, td
{
 padding-inline: 0.2rem;
 padding-block: 1rem;
}
th
{
    background-color: #464646;
    color: white;
}
td
{
    text-align: center;
    padding-inline: 10px;
}
tbody td
{
    border: 1px solid rgba(68, 72, 109, 0.1);
}