<div class="grid">
  <div class="col">
    <div class="card flex justify-content-center align-items-center anuncios-card">
      <span>B-2 METODOLOGÍAS Y HERRAMIENTAS</span>
    </div>
  </div>
</div>

<div class="ml-7 mt-3">
  <h4>Metodologías de aprendizaje</h4>
</div>

<div class="grid mt-4 justify-content-center">
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Método de enseñanza</label><br>
      <textarea rows="5" cols="60" pInputTextarea></textarea>
    </div>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Materiales de apoyo</label><br>
      <textarea rows="5" cols="60" pInputTextarea></textarea>
    </div>
  </div>
</div>

<div class="ml-7 mt-3">
  <h4>Estratégias didácticas</h4>
</div>

<div class="grid mt-4 justify-content-center">
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Expositivas</label><br>
      <textarea rows="5" cols="60" pInputTextarea></textarea>
    </div>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Actuación y dinámicas</label><br>
      <textarea rows="5" cols="60" pInputTextarea></textarea>
    </div>
  </div>
</div>

<div class="ml-7 mt-3">
  <h4>Recursos TIC</h4>
</div>

<div class="grid mt-4 justify-content-center">
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Plataformas empleadas</label><br>
      <textarea rows="5" cols="60" pInputTextarea></textarea>
    </div>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Requerimientos de software</label><br>
      <textarea rows="5" cols="60" pInputTextarea></textarea>
    </div>
  </div>
</div>

<div class="ml-7 mt-3">
  <h4>Herramientas de aula virtual</h4>
</div>

<div class="grid mt-4 justify-content-center">
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Detalle de actividades</label><br>
      <textarea rows="5" cols="60" pInputTextarea></textarea>
    </div>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Soporte de comunicación general</label><br>
      <textarea rows="5" cols="60" pInputTextarea></textarea>
    </div>
  </div>
</div>

<div class="grid mt-4 justify-content-center">
  <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
    <div class="text-center">
      <button class="mr-3 p-button-help" type="submit" pButton label="Volver">
      </button>
      <button class="mr-3 p-button-help" type="submit" pButton label="Guardar">
      </button>
      <button class="p-button-help" type="submit" pButton label="Siguiente">
      </button>
    </div>
  </div>
</div>