<div class="grid">
  <div class="col">
    <div class="card flex justify-content-center align-items-center anuncios-card">
      <span>A-1 DATOS GENERALES DE LA ASIGNATURA</span>
    </div>
  </div>
</div>

<div class="ml-2 mt-3">
  <h4>Formularios de SYLLABUS</h4>
</div>

<div class="grid mt-4 justify-content-center">
  <div class="sm:col-12 md:col-12 lg:col-5 xl:col-5">
    <label>Fatek: </label>
    <input type="text" pInputText class="ml-3">
  </div>
  <div class="sm:col-12 md:col-12 lg:col-5 xl:col-5">
    <label>Carrera: </label>
    <input type="text" pInputText class="ml-3">
  </div>
  <div class="sm:col-12 md:col-12 lg:col-5 xl:col-5">
    <label>Asignatura: </label>
    <input type="text" pInputText class="ml-3">
  </div>
  <div class="sm:col-12 md:col-12 lg:col-5 xl:col-5">
    <label>Sigla: </label>
    <input type="text" pInputText class="ml-3">
  </div>
  <div class="sm:col-12 md:col-12 lg:col-5 xl:col-5">
    <label>Periodo Académico: </label>
    <input type="text" pInputText class="ml-3">
  </div>
  <div class="sm:col-12 md:col-12 lg:col-5 xl:col-5">
    <label>Régimen Académico: </label>
    <input type="text" pInputText class="ml-3">
  </div>
  <div class="sm:col-12 md:col-12 lg:col-5 xl:col-5">
    <label>Arbol TEKNE: </label>
    <input type="text" pInputText class="ml-3">
  </div>
  <div class="sm:col-12 md:col-12 lg:col-5 xl:col-5">
    <label>Nivel de Formación: </label>
    <input type="text" pInputText class="ml-3">
  </div>
</div>

<div class="ml-5 mt-4">
  <h5>Distribución de carga horaria:</h5>
</div>

<div class="grid mt-4 justify-content-center">
  <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
    <div class="text-center">
      <label>TEKNOS: </label>
      <input type="text" pInputText class="ml-3">
    </div>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
    <div class="text-center">
      <label>LICYT: </label>
      <input type="text" pInputText class="ml-3">
    </div>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
    <div class="text-center">
      <label>SITEP: </label>
      <input type="text" pInputText class="ml-3">
    </div>
  </div>
</div>

<div class="grid mt-4 justify-content-center">
  <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
    <div class="text-center">
      <button class="mr-3 p-button-help" type="submit" pButton label="Volver">
      </button>
      <button class="mr-3 p-button-help" type="submit" pButton label="Guardar">
      </button>
      <button class="p-button-help" type="submit" pButton label="Siguiente">
      </button>
    </div>
  </div>
</div>