<div class="grid">
  <div class="col">
    <div class="card flex justify-content-center align-items-center anuncios-card">
      <span>C PLANTEAMIENTO LICYT</span>
    </div>
  </div>
</div>

<div class="mt-3 text-center">
  <h4>Propuesta de innovación tecnológica de especialidad</h4>
</div>

<div class="grid mt-4 justify-content-center">
  <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
    <div class="text-center">
      <label>Título del proyecto</label>
      <input type="text" pInputText class="ml-3">
    </div>
  </div>
</div>

<div class="grid mt-4 justify-content-center">
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Objetivo del proyecto</label><br>
      <textarea rows="3" cols="60" pInputTextarea></textarea>
    </div>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Producto final esperado</label><br>
      <textarea rows="3" cols="60" pInputTextarea></textarea>
    </div>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Elementos de innovación</label><br>
      <textarea rows="4" cols="60" pInputTextarea></textarea>
    </div>
  </div>
  <div class="sm:col-12 md:col-12 lg:col-6 xl:col-6">
    <div class="text-center">
      <label>Oportunidades de emprendimiento</label><br>
      <textarea rows="4" cols="60" pInputTextarea></textarea>
    </div>
  </div>
</div>

<div class="grid mt-4 justify-content-center">
  <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12">
    <div class="text-center">
      <button class="mr-3 p-button-help" type="submit" pButton label="Volver">
      </button>
      <button class="mr-3 p-button-help" type="submit" pButton label="Guardar">
      </button>
      <button class="p-button-help" type="submit" pButton label="Siguiente">
      </button>
    </div>
  </div>
</div>