<div class="grid">
    <div class="col">
        <div class="card flex justify-content-center align-items-center horario-card">
            <span>MI HORARIO</span>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="card" style="overflow-x:auto;">
            <table>
                <thead>
                    <tr>
                        <th>Materia</th>
                        <th>Sigla</th>
                        <th>Día</th>
                        <th>Hora</th>
                        <th>Meet</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of horarios">
                        <td style="text-align: start;">{{item.name_subject}}</td>
                        <td>{{item.cod_subject}}</td>
                        <td>
                            <p-tag *ngIf="item.monday_schedule" severity="success" class="mr-1" value="{{item.monday_schedule | lunes}}"></p-tag>
                            <p-tag *ngIf="item.tuesday_schedule" severity="success" class="mr-1" value="{{item.tuesday_schedule | martes}}"></p-tag>
                            <p-tag *ngIf="item.wednesday_schedule" severity="success" class="mr-1" value="{{item.wednesday_schedule | miercoles}}">
                            </p-tag>
                            <p-tag *ngIf="item.thursday_schedule" severity="success" class="mr-1" value="{{item.thursday_schedule | jueves}}">
                            </p-tag>
                            <p-tag *ngIf="item.friday_schedule" severity="success" class="mr-1" value="{{item.friday_schedule | viernes}}"></p-tag>
                            <p-tag *ngIf="item.saturday_schedule" severity="success" class="mr-1" value="{{item.saturday_schedule | sabado}}">
                            </p-tag>
                        </td>
                        <td>{{item.start_hour}} - {{item.end_hour}}</td>
                        <td><a href="">Acceder</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
