<div class="grid">
    <div class="col">
        <div class="card flex justify-content-center align-items-center programacion-card">
            <span>PROGRAMACIÓN ESTUDIANTIL</span>
        </div>
    </div>
</div>

<div class="grid">
    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <div class="card">
            <div class="card-title card">
                <p>FUA-101 | FUNDAMENTOS DE ADMINISTRACION</p>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Inicio</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>2021-03-15</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Modalidad</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Anual</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Docente</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Lic. Alex Castro</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Grupo Whatsapp</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Click Aqui
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Clases Grabadas</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Revisar
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-center">
                    <p-messages severity="info" style="width: 70%;">
                        <ng-template pTemplate>
                            <div class="grid">
                                <div class="col flex justify-content-end">
                                    <p class="programacion-title">
                                        Tercer Parcial:
                                        <a href="">
                                            2021-10-11 | 17:00
                                        </a>

                                    </p>
                                </div>
                            </div>
                        </ng-template>
                    </p-messages>
                </div>

            </div>

        </div>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <div class="card">
            <div class="card-title card">
                <p>FUA-101 | FUNDAMENTOS DE ADMINISTRACION</p>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Inicio</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>2021-03-15</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Modalidad</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Anual</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Docente</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Lic. Alex Castro</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Grupo Whatsapp</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Click Aqui
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Clases Grabadas</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Revisar
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-center">
                    <p-messages severity="info" style="width: 70%;">
                        <ng-template pTemplate>
                            <div class="grid">
                                <div class="col flex justify-content-end">
                                    <p class="programacion-title">
                                        Tercer Parcial:
                                        <a href="">
                                            2021-10-11 | 17:00
                                        </a>

                                    </p>
                                </div>
                            </div>
                        </ng-template>
                    </p-messages>
                </div>

            </div>

        </div>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <div class="card">
            <div class="card-title card">
                <p>FUA-101 | FUNDAMENTOS DE ADMINISTRACION</p>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Inicio</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>2021-03-15</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Modalidad</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Anual</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Docente</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Lic. Alex Castro</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Grupo Whatsapp</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Click Aqui
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Clases Grabadas</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Revisar
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-center">
                    <p-messages severity="info" style="width: 70%;">
                        <ng-template pTemplate>
                            <div class="grid">
                                <div class="col flex justify-content-end">
                                    <p class="programacion-title">
                                        Tercer Parcial:
                                        <a href="">
                                            2021-10-11 | 17:00
                                        </a>

                                    </p>
                                </div>
                            </div>
                        </ng-template>
                    </p-messages>
                </div>

            </div>

        </div>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <div class="card">
            <div class="card-title card">
                <p>FUA-101 | FUNDAMENTOS DE ADMINISTRACION</p>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Inicio</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>2021-03-15</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Modalidad</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Anual</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Docente</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Lic. Alex Castro</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Grupo Whatsapp</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Click Aqui
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Clases Grabadas</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Revisar
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-center">
                    <p-messages severity="info" style="width: 70%;">
                        <ng-template pTemplate>
                            <div class="grid">
                                <div class="col flex justify-content-end">
                                    <p class="programacion-title">
                                        Tercer Parcial:
                                        <a href="">
                                            2021-10-11 | 17:00
                                        </a>

                                    </p>
                                </div>
                            </div>
                        </ng-template>
                    </p-messages>
                </div>

            </div>

        </div>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <div class="card">
            <div class="card-title card">
                <p>FUA-101 | FUNDAMENTOS DE ADMINISTRACION</p>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Inicio</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>2021-03-15</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Modalidad</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Anual</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Docente</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Lic. Alex Castro</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Grupo Whatsapp</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Click Aqui
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Clases Grabadas</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Revisar
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-center">
                    <p-messages severity="info" style="width: 70%;">
                        <ng-template pTemplate>
                            <div class="grid">
                                <div class="col flex justify-content-end">
                                    <p class="programacion-title">
                                        Tercer Parcial:
                                        <a href="">
                                            2021-10-11 | 17:00
                                        </a>

                                    </p>
                                </div>
                            </div>
                        </ng-template>
                    </p-messages>
                </div>

            </div>

        </div>
    </div>

    <div class="sm:col-12 md:col-12 lg:col-4 xl:col-4">
        <div class="card">
            <div class="card-title card">
                <p>FUA-101 | FUNDAMENTOS DE ADMINISTRACION</p>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Inicio</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>2021-03-15</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Modalidad</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Anual</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Docente</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>Lic. Alex Castro</p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Grupo Whatsapp</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Click Aqui
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-end">
                    <p class="programacion-title">Clases Grabadas</p>
                </div>
                <div class="col flex justify-content-start">
                    <p>
                        <a href="">
                            Revisar
                        </a>
                    </p>
                </div>
            </div>

            <div class="grid">
                <div class="col flex justify-content-center">
                    <p-messages severity="info" style="width: 70%;">
                        <ng-template pTemplate>
                            <div class="grid">
                                <div class="col flex justify-content-end">
                                    <p class="programacion-title">
                                        Tercer Parcial:
                                        <a href="">
                                            2021-10-11 | 17:00
                                        </a>

                                    </p>
                                </div>
                            </div>
                        </ng-template>
                    </p-messages>
                </div>

            </div>

        </div>
    </div>
</div>


