.saeta-card{
    background: var(--primary-color);
    color: white;
    font-size: 1.6rem;
}
.saeta-bottom{
    background-color: #464646;
}
.saeta-bottom p{
    color: white;
    // padding-block: 10rem;
}
