<div class="grid">
  <div class="col">
    <div class="card flex justify-content-center align-items-center saeta-card">
      <span>SAETA+</span>
    </div>
  </div>
</div>

<div class="grid">
  <div class="col-6 col-offset-3">
    <div class="col card flex justify-content-center saeta-bottom mt-8">
      <a href="https://saeta.tecbasucre.com/login/index.php" target="_blank" style="padding: 1.5rem;">
        Ir a SAETA+
      </a>
    </div>
  </div>
</div>

<div class="grid" class="mt-8">
  <span>
    Notas importantes para el saeta+
  </span>
</div>

