<div class="grid">
    <div class="col">
        <div class="card flex justify-content-center align-items-center anuncios-card">
            <span>ANUNCIOS</span>
        </div>
    </div>
</div>

<div class="grid">
    <div class="sm:col-12 md:col-12 lg:col-12 xl:col-12" *ngFor="let item of anuncios">
        <div
        [ngStyle]="{'background': getColor(item.important_release)}"
        style="border-top: 5px solid #464646;" class="anuncios mt-4">
            <div>
                <p-card header="{{item.title_release}}" subheader="{{item.sender_release}}">
                    <p>
                        {{ item.sms_release }}
                    </p>
                    <div class="grid flex justify-content-end mr-3">
                        <span><i>{{item.date_release | date}}</i></span>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>



