<div class="grid">
    <div class="col">
        <div class="card flex justify-content-center align-items-center anuncios-card">
            <span>ANUNCIOS</span>
        </div>
    </div>
</div>

<div class="grid">
    <div class="sm:col-12 md:col-12 lg:col-3 xl:col-3" *ngFor="let item of anuncios">
        <div style="background: white; border-top: 5px solid #464646;">
            <div>
                <p-card header="{{item.title_release}}" subheader="{{item.date_release | date}}">
                    <p>
                        {{ item.sms_release }}
                    </p>
                </p-card>
            </div>
        </div>
    </div>
</div>



